<form name="editEntryForm">
  <div class="form-group" ng-class="{'has-error': editEntryForm.name.$invalid && editEntryForm.name.$dirty}">
    <label class="control-label">Name</label>
    <input type="text" name="name" class="form-control" placeholder="Enter first and last name" ng-model="editEntry.entry.name" required>
    <span ng-show="editEntryForm.name.$error.required && editEntryForm.name.$dirty" class="help-block">
      Please enter a name
    </span>
  </div>

  <div class="form-group" ng-class="{'has-error': editEntryForm.address.$invalid && editEntryForm.address.$dirty}">
    <label class="control-label">Address</label>
    <input type="text" name="address" class="form-control" placeholder="Enter address" ng-model="editEntry.entry.address" required>
    <p ng-show="editEntryForm.address.$error.required && editEntryForm.address.$dirty" class="help-block">
      Please enter an address
    </p>
  </div>

  <br>
  <a href="#/" class="btn btn-default">Cancel</a>
  <button class="btn btn-primary"
    ng-show="editEntry.entry.id"
    ng-click="editEntry.edit(editEntry.entry)"
    ng-disabled="editEntryForm.$invalid">
    Save
  </button>
  <button class="btn btn-primary"
    ng-hide="editEntry.entry.id"
    ng-click="editEntry.add(editEntry.entry)"
    ng-disabled="editEntryForm.$invalid">
    Add
  </button>
  <button ng-click="editEntry.destroy(editEntry.entry.id)" ng-show="editEntry.entry.id" class="btn btn-danger">Delete</button>
</form>