<div class="container">
  <input type="text" class="form-control" id="searchInput" placeholder="Type name or address to search" ng-model="searchInput">
  <table class="table table-striped table-hover table-bordered">
    <tr>
      <th class="col-md-4">Name</th>
      <th class="col-md-5">Addresss</th>
      <th class="col-md-3">
        <a ng-href="#/add" class="btn btn-primary btn-sm">Add address</a>
      </th>
    </tr>
    <tr ng-repeat="entry in list.entries | filter:searchInput">
      <td>{{ entry.name }}</td>
      <td>{{ entry.address }}</td>
      <td>
        <a ng-href="#/edit/{{ entry.getId() }}" class="btn btn-default btn-sm">
          <i class="glyphicon glyphicon-pencil"></i> Edit
        </a>
        <button class="btn btn-danger btn-sm" ng-click="list.delete(entry)">
          <i class="glyphicon glyphicon-trash"></i> Delete
        </button>
      </td>
    </tr>
  </table>
</div>
