<input type="text" class="form-control" id="searchInput" placeholder="Type name or address to search">
<table class="table table-striped table-hover table-bordered">
  <tr>
    <th class="col-md-4">Name</th>
    <th class="col-md-5">Addresss</th>
    <th class="col-md-3">
      <button type="button" class="btn btn-primary btn-sm">Add address</button>
    </th>
  </tr>
  <tr>
    <td>Octavius Vega</td>
    <td>160-8652 Consectetuer Street</td>
    <td>
      <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-pencil"></span> Edit
      </button>
      <button type="button" class="btn btn-danger btn-sm">
        <span class="glyphicon glyphicon-trash"></span> Delete
      </button>
    </td>
  </tr>
  <tr>
    <td>Bruno Black</td>
    <td>Ap #833-7833 Elementum St.</td>
    <td>
      <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-pencil"></span> Edit
      </button>
      <button type="button" class="btn btn-danger btn-sm">
        <span class="glyphicon glyphicon-trash"></span> Delete
      </button>
    </td>
  </tr>
</table>